version: "3.8"

services: 
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports: 
      - 3000:3000
    volumes: 
      - .:/usr/src/app
      - '/usr/src/app/node_modules'
    depends_on: 
      - mysql_server
  
  mysql_server:
    command: --default-authentication-plugin=mysql_native_password
    image: mysql:5.7
    environment: 
      - MYSQL_DATABASE=TCE
      - MYSQL_USER=thiru
      - MYSQL_PASSWORD=1234
      - MYSQL_ROOT_PASSWORD=1234

    